<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Hello! My name is Sierra. I am from Arizona, and am a software engineering major at BYU-I. </p>
    <p>My hobbies include:</p>
    <ul>
        <li>Reading</li>
        <li>Video Games</li>
        <li>Watching Movies</li>
        <li>Yoga</li>
    </ul>
    <img src="/images/self.jpg" alt="Image of Sierra">
</main>
<%- include('partials/footer') %>