<%- include('../partials/header') %>
<main>
    <h1>Unauthorized</h1>
    <p>You must be logged in to access this page.</p>
    <a href="/">Return home</a>
</main>
<%- include('../partials/footer') %>