<%- include('../partials/header') %>
<main>
    <h1>Forbidden</h1>
    <p>You do not have permission to view this page.</p>
    <a href="/">Return home</a>
</main>
<%- include('../partials/footer') %>